/* variables */
$color: black;
$lc: #990928;
$lcw: white;

p {
  font-size: 20px;
  color: $color;
}

h2 {
  color: $color;
}

li {
  color: $lc;
}

/* inheritance */
%ff {
  font-family: arial, helvetica, sans-serif;
}

/* body id's(4) */
#home_back {
  @extend %ff;
  background-color: #dea5f2;
}
#honey_back {
  @extend %ff;
  background-color: #edd04e;
}

#pillow_back {
  @extend %ff;
  background-color: #a1bff0;
}

#about_back {
  @extend %ff;
  background-color: #05fcaa;
}

/* images */
#catsleep {
  float: right;
}

#spoon {
  float: right;
}

#pillow01 {
  float: right;
}

img {
  border: 0;
  padding: 5px;
}

/* media */
@media (min-width: 500px) {
  ul li, ol li {
    font-size: 30px;
  }
  #ps::before {
    content: "How Poor Sleep Quality Affects Your Health";
  }
  #ten::before {
    content: "Ten Reasons Why Good Sleep Is Important";
    color: #27165c;
  }
}

/* @media */
@media (max-width: 499px) {
  ul li, ol li {
    font-size: 20px;
  }
  #ps::before {
    content: "Poor Sleep Quality";
  }
  #ten::before {
    content: "Ten Reasons For Better Sleep";
    color: #27165c;
  }
}

/* nesting */
div {
  table {
    tr, td {
      color: #27165c;
    }
  }
}

/* flex wrap with table */
.aboutbox {
  display: flex;
  flex-wrap: wrap;
}
.aboutbox > div {
  width: auto;
}
